{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<h1>schooling:</h1>
<h1>Spring dales hr sec school jammu </h1>

<h2>for details of school  <a class="dd" href="https://www.springdales.org"> <img src="{% static 'img/school.jpg' %}" alt="" height="50px" width="65px">click me!</a></h2>
<img src="" alt="">
<img src="" alt="">
<img src="" alt="">
<img src="" alt="">
<img src="" alt="">
<img src="" alt="">
<h1>college:</h1>
<h1>Ramaiah Institute of technology  </h1>
<h2>  for details of the college:<a class="dd" href="https://
  www.msrit.edu"><img src="{% static 'img/college.png' %}" alt="" height="50px" width="90px">Click me! </a></h2>
  <style >
    .dd{
      color:red;
    }


  </style>
{% endblock %}
