{% extends "blog/base.html" %}
{% block content %}
<li class="d9"> python programming </li>
<li class="d9"> Blockchains </li>
<li class="d9"> Full stack Web development</li>
<li class="d9"> devops </li>
<li class="d9"> c programming language</li>
<li class="d9"> smart contracts</li>
<li class="d9"> decentralized apps</li>
<li class="d9"> solidity language</li>
<li class="d9"> data structures and algorithms</li>
<style>
  .d9{
    color:black;
    height: 30px;
    size: 50px;

  }

</style>
{% endblock %}
