{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<h1>schooling:</h1>
<h1>Spring dales hr sec school jammu </h1>

<h2>for details of the school  <a class="dd" href="https://www.springdales.org"> click me!</a></h2>
<img src="" alt="">
<img src="" alt="">
<img src="" alt="">
<img src="" alt="">
<img src="" alt="">
<img src="" alt="">
<h1>college:</h1>
<h1>Ramaiah Institute of technology  </h1>
<h2>  for details of the college:<a class="dd" href="https://
  www.msrit.edu">Click me! </a></h2>
  <style >
    .dd{
      color:purple;


    }


  </style>
{% endblock %}
