{% extends "blog/base.html" %}
{% block content %}
<h1>here are some of my Certificates to view them click on CLICKME!</h1>
<h2>1. Google cloud platform Big Data & Fundamentals of Machine Learning <a href="https://www.coursera.org/account/accomplishments/records/7WYMWBRUPAFK" class="dd">CLICKME!</a></h2>
<h2>2. Google cloud platform Iot(Internet of  things) <a href="https://www.coursera.org/account/accomplishments/records/UDCJRTJ9EK3U" class="dd">CLICKME!</a></h2>
<style >
  .dd{
    color:purple;


  }
</style>
{% endblock %}
